.container{

  height:1100px;
  width:700px;
  border: 2px solid black;
  margin: 0 auto;
}

body {
    font-family: Arial;
    background-color: #f5f5f5;
}

h1 {
    color: darkblue;
}


.container{

  height:1100px;
  width:700px;
  border: 2px solid black;
  margin: 0 auto;
}